body {
    background-image: url("coding.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
.hrred {
 height: 1px;
 background-color: dimgray
} 
h1 {
  color: whitesmoke;
  background-image: url(codingx.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bolder;
  font-family: cursive;
  text-align: center;
}
.textbox {
  border-style: double;
  text-align: center;
}
.center {
text-align: center;
}
.image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2pt solid dimgray;
  
}
.grey {
  color: dimgray;
  font-size: 150%;
  font-stretch: ultra-expanded;
  font-weight: bolder;
  font-family: cursive;
  margin: auto;
  align-content: center;
  text-align: center;
}
.contact {
  width: 300px;
  border-style: dashed;
  border-color: dimgrey;
  border-width: 2pt;
  text-align: center;
  margin-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(bk.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;

}
ul {
margin-right: auto;
margin-top: 5px;
margin-left: auto;
display: table;
text-align: center;
font-size: 150%;
}